@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

main{
    width: 960px;
    margin: 0 auto;
}
.producto{
    height: 450px;
    display: flex;
    border: solid black 2px;
}
.producto div {
    flex: 1; 
    padding: 20px; 
}
.producto1{
    background-image: url(./imagenes/image-transform.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.contenidop{
    text-align: left; /* Alinea el contenido a la derecha */
    max-width: 600px; /* Establece un ancho máximo para mejorar la legibilidad */
    margin: auto; /* Centra el bloque en el centro verticalmente */
}
.contenidop h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; /* Aplica negrita al texto */
}
.contenidop h1,
.contenidop p,
.contenidop h3 {
    margin: 20px 80px; 
    text-align: left;
    
}
.decoracion1 {
    border-bottom: 10px solid rgba(160, 160, 36, 0.473); /* Subrayado de color amarillo */
    display: inline-block; 
    padding-bottom: -20px; /* Espacio entre el texto y el subrayado */
    border-radius: 10px;
}
.decoracion2 {
    border-bottom: 10px solid rgba(173, 2, 216, 0.473); /* Subrayado de color amarillo */
    display: inline-block; 
    padding-bottom: -20px; /* Espacio entre el texto y el subrayado */
    border-radius: 10px;
}
.producto2{
    background-image: url(./imagenes/image-stand-out.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.decoracion {
    border-bottom: 10px solid rgba(223, 223, 16, 0.473); /* Subrayado de color amarillo */
    display: inline-block; 
    padding-bottom: -20px; /* Espacio entre el texto y el subrayado */
    border-radius: 10px;
}
/*--- header ----*/

header{
    font-family: 'Barlow', sans-serif;
    width: 100%;
    height: 500px;
    background-image: url(./imagenes/image-header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header .content-nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

header .content-nav .logo{
    font-size: 30px;
    font-weight: 900;
    padding-left: 20px;
    color: #fff;
}

header .content-nav nav ul{
    display: flex;
    width: 330px;
    justify-content: space-around;
    padding-right: 30px;
}

header .content-nav nav ul li{
    list-style: none;
}

header .content-nav nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    transition: all ease-in-out .5s;
}

header .content-nav nav ul li a:hover{
    color: black;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #fff;
    
}

header .content-portada{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-portada h2{
    font-size: 50px;
    color: #fff;
    padding-top: 20px;
    font-family: 'Fraunces', serif;
}

.img-flecha{
    padding-top: 20px;
}
.img-flecha img{
    width: 80px;
    height: 130px;
    filter: invert();
}

.producto-producto-3{
    width: 100%;
    display: flex;
    justify-content: center;
}

.figure{
    text-align: center;
    position: relative;
}

.titulo1{
    transform: translate(0px, -200px);
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    opacity: 0.6;
    z-index: 1;
}

.parrafo1{
    transform: translate(0px, -180px);
    text-align: center;
    line-height: 1.5;
    padding: 0 200px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.5;
    z-index: 1;
}

.titulo2{
    transform: translate(0px, -200px);
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
    opacity: 0.6;
    z-index: 1;
}

.parrafo2{
    transform: translate(0px, -180px);
    text-align: center;
    line-height: 1.5;
    padding: 0 200px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.5;
    z-index: 1;
}
.clientesh2 {
    text-align: center;
    margin-top: 100px;
    
    color: gray;
    letter-spacing: 3px;

}

.clienteContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
   
}

.clientecontainera{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.img20 {
    border-radius: 100%;
    margin: 20px;
    width: 65px;
}

.clientecontainer2{
    margin: 20px;
}

.containerp, .containerp2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}

.clientes{
    margin-top: 100px;
    margin-bottom: 100px;
}
.containerp2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
